body {
    font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    line-height: 20px;
    text-align: justify;
}

.speaker-box {
    padding: 20px;
    border: 1px dashed #222;
    margin: 10px;
}

.bio {
    font-style: italic;
    color: #AAA;
    font-family: Georgia, Palatino, "Times New Roman", Times, serif;
}

.twitter {
    background-color: #3882ff;
    border-radius: 10px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
}

.twitter:before {
    content: '@';
}

img.country-flag {
    float: right;
    width: 40px;
    height: 40px;
}

img.speaker-image {
    max-height: 40px;
    height: 40px;
    border: 1px solid #222;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url('/img/grayscale.svg'); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
}