<div>
    <div class="jumbotron" ng-repeat="event in events">
        <div class="row">
            <div class="col-lg-6">
                <h2><a href="{{ event.url }}">{{ event.name }}</a> ({{ event.hashtag }})</h2>

                <p>{{ event.description }}</p>

                <p>
                    <a class="btn btn-primary btn-lg" ng-click="showSessions(event)">Browse the sessions</a>
                    <a class="btn btn-success btn-lg" ng-click="addSpeaker(event)">Add speaker</a>
                </p>
            </div>
            <div class="col-lg-6">
                <a class="twitter-timeline text-center" href="https://twitter.com/search?q=%23PHPJoburg14"
                   data-widget-id="450391309648281600">Tweets about "{{ event.hashtag }}"</a>
            </div>
        </div>
    </div>
</div>