<div>
    <h2>Speakers at {{event.name}}</h2>

    <div class="row">
        <div class="col-lg-6" ng-repeat="speaker in event.speakers">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img class="speaker-image"
                             src="data:image/jpeg;base64,{{ speaker.image.getData() }}">

                        {{ speaker.name }}


                        <img class="country-flag" title="{{ speaker.country }}"
                             src="data:image/jpeg;base64,{{ speaker.flag.getData() }}">
                    </h3>
                </div>
                <div class="panel-body">
                    {{ speaker.bio}}
                </div>

                <div class="panel-footer">
                    <button type="button" class="btn btn-success" ng-click="viewSessions(speaker)">
                        {{ speaker.sessions.length }} session{{ speaker.sessions.length == 1 ? '' : 's' }}
                    </button>

                    <div class="list-groupclass speaker-sessions" ng-repeat="session in speaker.sessions"
                         ng-show="speaker.sessionsVisible">
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">{{ session.title }} - {{ getDate(session.date) }}</h4>
                            <p class="list-group-item-text">{{ session.description }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>